p {
    margin: 0;
    padding: 0;
}

nav .row-brand .icon {
    width: 54px;
    height: 30px;
}

nav .row-brand p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    padding-left: 1rem;
}

nav .icon-coleman {
    width: 60px;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
}

nav .burger-menu .bar1,
nav .burger-menu .bar2,
nav .burger-menu .bar3 {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1px, 6px);
    transform: rotate(-45deg) translate(-1px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -5px);
    transform: rotate(45deg) translate(-2px, -8px);
}

.nav-wrapper {
    position: relative;
    width: 100%;
}

.nav-wrapper .nav-middle {
    background-color: #f0eae1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.nav-wrapper .main-menu .default-content-wrapper {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #f0eae1;
    margin: 0;
    list-style: none;
    transition: left 0.3s ease;
    z-index: 100;
}

.nav-wrapper .main-menu .default-content-wrapper.menu-active {
    left: 0;
}

.nav-wrapper nav .nav-middle .default-content-wrapper p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-search form input {
    font-size: 1rem;
    width: 100%;
    padding: 6px 80px 6px 12px;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-right: 0;

    outline: none;
}

.search-container {
    width: 100%;
}

.search-form {
    display: flex;
    gap: 0;
    height: 32px;
}

form.search-form {
    padding: 0 1rem;
}

.search-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
}

.search-btn {
    background: #354757;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    padding: 0.5rem 1rem;
    cursor: pointer;

    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.search-icon {
    display: inline-block;
    width: 1rem;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

nav #main-menu {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #222222;
    margin: 0;
}
nav .main-menu ul {
    padding: 0;
    margin: 0;
}

nav .main-menu ul li {
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-bottom: 1px solid #222222;

    font-size: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .nav-wrapper .main-menu .default-content-wrapper {
        position: relative;
        left: 0;
        height: inherit;
    }

    nav #main-menu {
        display: none;
    }

    nav .main-menu ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0 0.25rem;
    }

    nav .main-menu ul li {
        border: none;
        text-align: center;
        padding: 0.5rem;

        font-size: 14px;
    }

    nav .main-menu ul li:hover {
        color: #a64241 !important;
        background-color: #e2dfd5;
    }
}
