footer {
  background-color: #484645;
  color: #f0ebe2;
}

footer .footer > div {
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

footer .section strong {
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  margin: 0;
  display: block;
  font-size: 16px;
}

footer .section {
  padding: 0 1rem;
}

footer .section:not(:last-child) {
  border-bottom: 2px solid #2d2926;
}

footer .section:first-child {
  padding-top: 2rem;
}

footer .section:last-child {
  padding-bottom: 2rem;
}

footer .section strong::after {
  content: '+';
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

footer .section.active strong::after {
  transform: rotate(45deg);
}

footer .default-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0;
}

footer .section.active .default-content-wrapper {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
  padding: 10px 0;
}

@media (width >= 786px) {
  footer .footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  footer .default-content-wrapper {
    max-height: unset;
    overflow: unset;
  }

  footer .section strong {
    position: relative;
  }

  footer .section strong::after {
    content: '';
    position: unset;
  }
}
